/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  flex-direction: column;
}
.section-skils {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  flex-direction: column;
}

/* texto e ícones */
.txt-hero p, .txt-hero h1 {
  color: white;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 18px;
}

.icon-hero {
  padding: 10px;
  text-align: center;
}

.icon-hero img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  transition: transform 0.1s ease-in-out;
}

.icon-hero img:hover {
  transform: scale(1.1);
}

/* próxima seção só como exemplo */
.content {
  color: white;
  text-align: center;
}
.card-body{
    background-color: #6c757d;
}
.card-skils {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card-body img {
  width: 50px;
  margin-bottom: 10px;
}
