/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  flex-direction: column;
}
.section-skils {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  flex-direction: column;
}
.txt-hero {
  text-align: center;
  margin-bottom: 20px;
}.dev p{
  animation: instaColor 3s ease-in-out forwards,
    slideIn 1s ease-in-out forwards;
}
.txt-hero p,
.txt-hero h1 {
  color: white;
}   

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 18px;
}

.icon-hero {
  display: flex;
  padding: 10px;
  text-align: center;
}
.icon p{
  visibility: hidden;
}
.icon:hover p{
  cursor: pointer;
  visibility: visible;
  animation: fade 2s ease-in-out,
    chegada 1s ease-in-out forwards;
}
.icon:hover img {
  transform: scale(1.2);
}
@keyframes fade {
  0% {

    opacity: 0;
  }
  50% {

    opacity: 0.2;
  };
  100% {

    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes chegada{
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes instaColor {
  0% {
    opacity: 0;
    background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    opacity: 1;
    background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    -webkit-background-clip: text;
    color: transparent;
  }
}
.icon-hero img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  transition: transform 0.1s ease-in-out;
}
.gitHub img{
  transition:0.5s ease-in;
}
.gitHub img:hover{
content: url(/imgs/github.png);
}
.instagram img{
  transition:0.5s ease-in;
}
.instagram img:hover{
content: url(/imgs/instagram.png);
}
.linkedin img{
  transition:0.5s ease-in;
}
.linkedin img:hover{
content: url(/imgs/linkedin.png);
}
.whatsapp img{
  transition:0.5s ease-in;
}
.whatsapp img:hover{
content: url(/imgs/whatsapp.png);
}
/* próxima seção só como exemplo */
.content {
  color: white;
  text-align: center;
}
.card-body {
  background-color: #6c757d;
}
.card-skils {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card-body img {
  width: 50px;
  margin-bottom: 10px;
}
.section-projects {
  padding: 80px 20px;
  background-color: #212529;
}
h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: bold;
}

.card-projects {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-projects .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card-projects .card:hover {
  transform: translateY(-5px);
}
